<div class="card">
  <div class="card-header bg-primary text-white">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <!-- Ligne #1-->
    <div class="row">
      <!-- Tuile #1-->
      <div class=" col-sm-6">
        <div class="card">
          <div class="card-header bg-secondary text-white">Acceuil</div>
          <div class="card-body">
            <p class="card-text">Vous êtes ici sur la page d'acceuil de l'application. Retrouvez y toutes les
              fonctionnalités. Cette
              application a pour but d'afficher et de manipuler des livres.</p>
          </div>
        </div>
      </div>
      <!-- Tuile #2-->
      <div class=" col-sm-6">
        <div class="card">
          <div class="card-header bg-light">Bibliothèque</div>
          <div class="card-body">
            <p class="card-text">Bibliothèque de l'application. Retrouvez toutes les livres enregistrés.</p>
            <a href="#" class="btn btn-primary" [routerLink]="['/bibliotheque']">Aller à la Bibliotheque</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Ligne #2-->
    <div class="row">
      <!-- Tuile #3-->
      <div class=" col-sm-6">
        <div class="card">
          <div class="card-header bg-light">Ajouter un Livre</div>
          <div class="card-body">
            <p class="card-text">Page contenant le formulaire d'ajout de nouveau livre à la bibilothèque.</p>
            <a href="#" class="btn btn-primary" [routerLink]="['/addbook']">Aller à la page d'Ajout de Livre</a>
          </div>
        </div>
      </div>
      <!-- Tuile #4-->
      <div class=" col-sm-6">
        <div class="card">
          <div class="card-header bg-info text-white">A propos</div>
          <div class="card-body">
            <p class="card-text">Page d'informations diverses concernant l'application.</p>
            <a href="#" class="btn btn-primary" [routerLink]="['/apropos']">Aller à la page d'A Propos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>