<div class='card'>
    <div class='card-header bg-primary text-white'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <form autocomplete="off" #ajoutForm="ngForm" (ngSubmit)="gererAjoutLivre(ajoutForm.value)">
            <div class="form-group" [ngClass]="{'error': validateFormControl(ajoutForm.controls['bookTitle'])}">
                <label for="bookTitle">Titre :</label>
                <em *ngIf="ajoutForm.controls['bookTitle']?.invalid && (ajoutForm.controls['bookTitle'].touched || mouseoverLogin)">Required</em>
                <input (ngModel)='nouveauLivre.bookTitle' name="bookTitle" required id="bookTitleInput" type="text"
                    class="form-control" placeholder="Titre..." />
            </div>
            <div class="form-group" [ngClass]="{'error': validateFormControl(ajoutForm.controls['bookAuthor'])}" >
                <label for="bookAuthor">Auteur:</label>
                <em *ngIf="ajoutForm.controls['bookAuthor']?.invalid && (ajoutForm.controls['bookAuthor'].touched || mouseoverLogin) && !ajoutForm.controls['bookAuthor'].hasError('pattern')" >Required</em>
                <em *ngIf="ajoutForm.controls['bookAuthor']?.invalid && ajoutForm.controls['bookAuthor'].hasError('pattern')" >Doit débuter par une lettre</em>
                <input (ngModel)='nouveauLivre.bookAuthor' name="bookAuthor" required pattern="[a-zA-Z].*" id="bookAuthorInput" type="text"
                    class="form-control" placeholder="Auteur..." />
            </div>
            <div class="form-group">
                <label for="bookImage">Image:</label>
                <input (change)="onFileSelected($event)" name="bookImage" id="bookImageInput" type="file"
                    class="form-control" accept="image/*" />
            </div>
            <div class="form-group">
                <label for="bookPrice">Prix:</label>
                <input (ngModel)="nouveauLivre.bookPrice" name="bookPrice" id="bookPriceInput" type="number" class="form-control"
                    placeholder="Prix..." />
            </div>
            <div class="col-md-6" style="margin-top: 1ex;">
                <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
                    <button class="btn btn-primary" [disabled]="ajoutForm.invalid" type="submit">Ajouter un Livre</button>
                </span>
                <button class="btn btn-default" type="button" [routerLink]="['/bibliotheque']">Annuler</button>
            </div>
        </form>
    </div>
</div>