<div class='card'>
    <div class='card-header bg-primary text-white'>
        {{pageTitle + ' : ' + book?.bookTitle}}
    </div>

    <div class='card-body' *ngIf='book && !modification'>
        <div class='row'>
            <div class='col-sm-4'>
                <div class='row'>
                    <div class='col-md-4'>Titre:</div>
                    <div class='col-md-8'>{{book.bookTitle}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Auteur:</div>
                    <div class='col-md-8'>{{book.bookAuthor}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Prix:</div>
                    <div class='col-md-8'>{{book.bookPrice | currency:'EUR':'symbol':'1.2-2'}}</div>
                </div>
            </div>
            <div class='col-sm-4'>
                <img *ngIf='book.bookImage' class='center-block img-responsive' [style.width.px]='100'
                    [src]='book.bookImage' [alt]='book.bookTitle'>
                <p *ngIf="!book.bookImage">Aucune image disponible</p>
            </div>
            <div class='col-sm-4'>
                <div class="row border" *ngFor="let review of book.bookReviews">                
                    <liste-commentaire [titre]="this.titreCommentaire" (addCommentEventEmitter)="addComment()">
                       <div class="titleSection" comment-title>
                            {{this.titreCommentaire}}
                       </div>
                       <div class="bodySection" comment-body>
                            <div class="row">
                                <div class='col-md-6'>Commentaire</div>
                                <div class='col-md-6'>{{review.reviewComment}}</div>
                            </div>
                            <div class="row">
                                <div class='col-md-6'>Note</div>
                                <div class='col-md-6'>{{review.reviewRate}}</div>
                            </div>
                        </div>
                    </liste-commentaire>
                </div>
            </div>
        </div>
    </div>

    <div class='card-body' *ngIf='book && modification'>
        <form [formGroup]="bookForm" (ngSubmit)="saveBook(bookForm.value)"
        autocomplete="off">
            <div class="form-group" [ngClass]="{'error': nonvalidateFormControl(bookForm.controls['bookTitle'])}">
                <label for="bookTitleInput">Titre :</label>
                <em *ngIf="nonvalidateFormControl(bookForm.controls['bookTitle']) && bookTitle.hasError('required')">Required</em>
                <!-- Possibilité de binder directement le formControl en utilisant son nom qui vient du ts -->
                <!-- Attention la clé motInterditValidator de has error est celle qu'il faut donner dans le ts comme clé de l'objet retourné dans le custom validator -->
                <!-- Attention la valeur getError est celle qui est celle qui sera donnée dans le ts comme valeur de l'objet retourné dans le custom validator -->
                <em *ngIf="nonvalidateFormControl(bookTitle) && bookTitle.hasError('motInterditValidator')">Mot interdit détecté : {{bookTitle.getError('motInterditValidator')}}</em>            
                <input formControlName="bookTitle" id="bookTitleInput" type="text" class="form-control" placeholder="{{book.bookTitle}}"/>
            </div>
            
            <div class="form-group" [ngClass]="{'error': nonvalidateFormControl(bookForm.controls['bookAuthor'])}">
                <label for="bookAuthorInput">Auteur:</label>
                <em *ngIf="nonvalidateFormControl(bookForm.controls['bookAuthor']) && bookForm.controls['bookAuthor'].hasError('required')">Required</em>
                <em *ngIf="nonvalidateFormControl(bookForm.controls['bookAuthor']) && bookForm.controls['bookAuthor'].hasError('pattern')">Doit débuter par une lettre</em>
                <!-- Possibilité de binder directement le formControl en utilisant son nom qui vient du ts -->
                <!-- Attention la clé listeMotsInterditsValidator de has error est celle qu'il faut donner dans le ts comme clé de l'objet retourné dans le custom validator -->
                <!-- Attention la valeur getError est celle qui est celle qui sera donnée dans le ts comme valeur de l'objet retourné dans le custom validator -->
                <em *ngIf="nonvalidateFormControl(bookAuthor) && bookAuthor.hasError('listeMotsInterditsValidator')">Mot(s) interdit(s) détecté(s) : {{bookAuthor.getError('listeMotsInterditsValidator')}}</em>
                <input formControlName="bookAuthor" id="bookAuthorInput" type="text" class="form-control" placeholder="{{book.bookAuthor}}"/>
            </div>
            <div class="form-group" [ngClass]="{'error': nonvalidateFormControl(bookForm.controls['bookPrice'])}">
                <label for="bookPriceInput">Prix:</label>
                <em *ngIf="nonvalidateFormControl(bookForm.controls['bookPrice'])">Required</em>
                <input formControlName="bookPrice" id="bookPriceInput" type="number" class="form-control" placeholder="{{book.bookPrice}}"/>
            </div>
            <div class="col-md-6" style="margin-top: 1ex;">
                <button class="btn btn-primary" type="submit">Modifier le Livre</button>
                <button class="btn btn-outline-secondary" (click)="cacherModification()" type="button">Annuler</button>
            </div>
        </form>
    </div>

    <div class='card-footer'>
        <button [disabled]="modification" class='btn btn-outline-secondary' style='width: 80px' (click)='onBack()'>
            <i class='fa fa-chevron-left'></i>Back
        </button>
        <button class='btn btn-outline-secondary' style='width: 80px' [disabled]="modification" (click)="enableModification()">Editer</button>
    </div>
</div>