<div class='card'>
    <div class='card-header bg-primary text-white'>
        {{pageTitle + ' : ' + book?.bookTitle}}
    </div>

    <div class='card-body' *ngIf='book'>
        <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'>Titre:</div>
                    <div class='col-md-8'>{{book.bookTitle}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Auteur:</div>
                    <div class='col-md-8'>{{book.bookAuthor}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Prix:</div>
                    <div class='col-md-8'>{{book.bookPrice}}</div>
                </div>
            </div>
            <div class='col-md-4'>
                <img *ngIf='book.bookImage' class='center-block img-responsive' [style.width.px]='200' [style.margin.px]='2'
                    [src]='book.bookImage' [alt]='book.bookTitle'>
                <p *ngIf="!book.bookImage">Aucune image disponible</p>
            </div>
        </div>
    </div>

    <div class='card-footer'>
        <button class='btn btn-outline-secondary' style='width: 80px' (click)='onBack()'>
            <i class='fa fa-chevron-left'></i>Back
        </button>
    </div>
</div>