<nav class='navbar navbar-expand navbar-light bg-light' style='padding-left: 20px'>
  <h1 class='navbar-brand'>{{pageTitle}}</h1>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' [routerLink]="['/acceuil']">Acceuil</a></li>
    <li><a class='nav-link' [routerLink]="['/bibliotheque']">Bibliothèque</a></li>
    <li><a class='nav-link' [routerLink]="['/commentaires']">Commentaires</a></li>
    <li><a class='nav-link' [routerLink]="['/addbook']">Ajouter Livre</a></li>
    <li><a class='nav-link' [routerLink]="['/apropos']">A Propos</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>