<div class='card'>
    <div class='card-header bg-primary text-white'>
        {{pageTitle}}
    </div>
    <div class='card-body'>

        <div>
            <label for="livreSelect">Sélectionner un livre </label>
            <select id="livreSelect" [(ngModel)]="book" name="livreSelect">
                <option *ngFor="let livre of listeLivres" [ngValue]="livre">{{ livre.bookTitle }}</option>
            </select>
        </div>

        <form *ngIf="book" autocomplete="off" #ajoutForm="ngForm" (ngSubmit)="gererAjoutCommentaire(ajoutForm.value)">  
            
            <div ngModelGroup="bookReview">
                <div class="form-group">
                    <label for="reviewComment">Commentaire:</label>
                    <input (ngModel)="nouveauLivre.bookReview?.reviewComment" name="reviewComment" id="bookCommentInput" type="string" class="form-control"
                        placeholder="Commentaire ..." />
                </div>

                <div class="form-group">
                    <label for="reviewRate">Note:</label>
                    <input (ngModel)="nouveauLivre.bookReview?.reviewRate" name="reviewRate" id="bookRateInput" type="number" class="form-control"
                        placeholder="Note ..." />
                </div>
            </div>


            <div class="col-md-6" style="margin-top: 1ex;">
                <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
                    <button class="btn btn-primary" [disabled]="ajoutForm.invalid" type="submit">Ajouter un commentaire</button>
                </span>
                <button class="btn btn-default" type="button">Annuler</button>
            </div>
        </form>
    </div>
</div>