<div class='card'>

    <div class='card-header'>
        {{pageTitle}}
    </div>

    <!-- <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'> Filtrer par : </div>
            <div class='col-md-4'>
                <input type='text' 
                    [(ngModel)]='filtreListe'/>
            </div>    
        </div>

    <div class='row'>
        <div class='col-md-6'>
            <h4> Filtré par : {{filtreListe}}</h4>
        </div>
    </div> -->

    <div class='table-responsibe'>
        <table class='table' *ngIf="listeLivres.length">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Couverture</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let livre of listeLivres'>
                    <td>{{livre.bookTitle}}</td>
                    <td>{{livre.bookAuthor}}</td>
                    <td><img
                        [src]='livre.bookImage'
                        [title]='livre.bookTitle'
                        [style.width.px]='imageLargeur'
                        [style.margin.px]='imageMarge'>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>