<div class='card'>

    <div class='card-header bg-primary text-white'>
        {{pageTitle}}
    </div>

    <div class='card-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class="form-group">
                    <h3 for="filtreListe">Filtre par liste interposé</h3>
                    <input type='text' [disabled]="filtrePipe.length > 0" [(ngModel)]='filtreListe' placeholder="Recherche" class="form-control"/>
                </div>
                <div class="form-group">
                    <h3 for="filtrePipe">Filtre par Pipe</h3>
                    <input type='text' [disabled]="filtreListe.length > 0" [(ngModel)]='filtrePipe' placeholder="Recherche" class="form-control"/>
                </div>
            </div>
        </div>

        <div class='row' style="margin-top: 20px;">
            <div class='col-md-6 bg-light'>
                <h6> Filtré par : {{filtreListe}}{{filtrePipe}} </h6>
            </div>
        </div>

        <div class='table-responsibe'>
            <table class='table' *ngIf="listeLivres?.length">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Couverture</th>
                        <th>Prix</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let livre of listeLivresFiltres | filtreAuteurTitre: filtrePipe">
                        <td><a [routerLink]="['/bibliotheque', livre.bookId]">{{livre.bookTitle}}</a> </td>
                        <td>{{livre.bookAuthor}}</td>
                        <td><img *ngIf="livre.bookImage" [src]='livre.bookImage' [alt]='livre.bookTitle'
                                [style.width.px]='imageLargeur' [style.margin.px]='imageMarge'>
                        </td>
                        <td>{{livre.bookPrice | currency:'EUR':'symbol':'1.2-2' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>